
body {
  background-color: white;
}

.index-photo {
  height: 100vh;
  width: 100%;
  background: url('../images/home_bg_2.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}


.image-format {
  padding-right: 5px;
  padding-bottom: auto;
  max-width: 250px;
}

.all-div {
  padding: 0;
}

.main-start {
  padding-top: 6rem;
}

.main-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: o;
  width: 100%;
  background-color: black;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.jumbotron {
  padding: 16px;
}

.fa-headphones {
  font-size: 2.5em;
  color: white;
  text-shadow: 1px 1px  #A5A3A3;

}

h1 {
  font-size: 2.5em;
  color: white;
  text-shadow: 1px 1px  #A5A3A3;
}

h2 {
  /* text-decoration: underline; */
}

span + span {
  margin-left: 10px;
}

hr {
  padding-bottom: 5px;
}

p {
  
}
