
body {
  background-color: #08121a;
}

.index-photo {
  height: 100vh;
  width: 100%;
  background: url('../images/home_bg_2.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}


.image-format {
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 250px;
  border-style: solid;
  border-width: 2px;
  border-color: #8F9491;
}

.image-full {
  min-width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #8F9491;
  margin-bottom: 10px;
}

.all-div {
  padding: 0;
}

.main-start {
  padding-top: 6rem;
}

.main-content {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: o;
  width: 100%;
  background-color: #1a2731;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #e3e5d8;
  color: black;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.fa-headphones {
  font-size: 2.5em;
  color: #e3e5d8;
  text-shadow: 1px 1px  #A5A3A3;
}

.subtitle-box {
  background-color: #35444f;
  width: inherit;
  margin-bottom: 5px;
}

.jumbotron {
  background-color: #e3e5d8;
  padding: 0px;
}

h1 {
  font-size: 2.5em;
  color: #e3e5d8;
  text-shadow: 1px 1px  #A5A3A3;
  font-family: Verdana;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  color: #b9bab0;
  font-weight: bold;
  vertical-align: bottom;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.3em;
  color: #b9bab0;
  font-weight: bold;
  vertical-align: bottom;
  padding-left: 10px;
  padding-bottom: 7px;
  padding-top: 5px;
}

span + span {
  margin-left: 10px;
}

hr {
  padding-bottom: 5px;
  border-width: 3px;
  color: #8F9491;
}

p {
  margin: 16px;

}
